*:before, *:after {
    box-sizing: border-box;
}

.tags__title {
    color: #89949f;
    font-size: 1.8rem;
    font-weight: 200;
    margin-bottom: 1rem;
    display: block;
}
.tags__content {
    font-size: 1.3rem;
    background-color: #fff;
    border: 1px solid #cfcfcf;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.tags__item {
    padding: 0.25em 0.8em;
    color: #fff;
    background: #037DE4;
    margin: 1rem 0 1rem 1rem;
    border-radius: 10em;
}
.tags__list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.tags__group {
    position: relative;
    display: flex;
    flex-grow: 1;
}
.tags__text {
    font-size: 1.3rem;
    background: none;
    border: none;
    flex-grow: 1;
    padding: 1.5rem;
}
.tags__text::placeholder {
    font-weight: 200;
    color: #89949f;
}
.tags__text:focus {
    outline: none;
}
.tags__remove {
    background: none;
    border: none;
    color: #83c5fd;
    line-height: 1;
    font-size: 2rem;
    padding: 0 0.5rem;
    margin-right: -0.75rem;
    cursor: pointer;
}
.tags__remove:hover, .tags__remove:focus {
    color: #e7f4ff;
}
.tags__remove:focus {
    outline: none;
}
.tags__empty {
    border: none;
    font-size: 2rem;
    padding: 1.5rem;
    line-height: 1;
    cursor: pointer;
    color: #89949f;
}
.tags__empty:hover, .tags__empty:focus {
    color: #fe4f3e;
}
.tags__empty:focus {
    outline: none;
    background: whitesmoke;
}