<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <!-- Toast UI Editor -->
    <meta charset="utf-8" />
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <link rel="stylesheet" href="../../static/css/tag.css">
</head>
<body>
<div>
    <button type="button" id = "priBtn" >게시글 임시저장</button>
    <a  th:href="@{/board/delete/{BOARD_ID} (BOARD_ID=${boardID})}">게시글 삭제</a>
    <h1 style="text-align:center"><input th:if="${content != null}"  type = "text" placeholder=" 제목을 입력해주세요" id = "TITLE" th:value="${content.TITLE}"></h1>
    <input th:if="${content != null}" type="hidden" id="aaa" th:value="${content.CONTENT_MARK}"/>
    <input th:if="${content != null}"  type="hidden" id="bbb" th:value="${content.TAG}"/>
    <input  type="hidden" id="ccc" th:value="${boardID}"/>
</div>

<div id="editor"></div>
<form id = "save">
    <input type="text" style="display:none;"/> <!-- 의미없는 텍스트 박스 -->
    <label class="tags">
        <span class="tags__title">Add Tag separated by comma</span>
        <div class="tags__content">
            <ul class="tags__list" id="list" aria-live="polite" aria-atomic="false"></ul>
            <div class="tags__group">
                <input type="text" class="tags__text" id="text" placeholder="태그를 입력해주세요" title="Write Tag separated by comma">
                <button type="button" class="tags__empty" id="remove" aria-label="Remove all tags">&times;</button>
            </div>
        </div>
    </label>
    <!--대표사진은 변경 불가능 -->

    <input th:if="${content == null}" type="file" id = "files"name = "files" multiple = "multiple" class="pre">
    <button type="button" id = "saveBtn">저장하기</button>
</form>

<button onclick="seeHtml()">html보기</button>]
<button onclick="seeMd()">markdown보기</button>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script>
    $(function(){
        $('#saveBtn').on('click', function(){
            save("true");
        });

        $('#priBtn').on('click', function(){
            save("false");
        });
    });

</script>
<script src="../../static/js/tag.js"></script>
</body>