<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.community.mapper.BoardDao">
    <insert id="save" parameterType="Board" >
        insert into board(USER_EMAIL, TITLE, CONTENT_HTML, CONTENT_MARK, REPRE_IMAGE) values(#{USER_EMAIL}, #{TITLE}, #{CONTENT_HTML}, #{CONTENT_MARK}, #{REPRE_IMAGE})
    </insert>

    <select id="boardView" resultType="Board">
        select * from board where USER_EMAIL = #{USER_EMAIL}
    </select>

    <select id="boardContentView" resultType="Board">
        select * from board where BOARD_ID = #{BOARD_ID}
    </select>
</mapper>