<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.community.mapper.BoardDao">
    <insert id="boardCreate"  parameterType="Board" useGeneratedKeys="true" keyProperty="BOARD_ID">
        insert into board(USER_ID) values(#{USER_ID})
    </insert>

    <select id="boardView" resultType="Board">
        select * from board where USER_ID = #{USER_ID} and STATE = #{STATE}
    </select>

    <select id="boardContentView" resultType="Board">
        select * from board where BOARD_ID = #{BOARD_ID}
    </select>

    <select id="boardAllView" resultType="Board">
        select * from board;
    </select>
    
    <update id="boardUpdate"  parameterType="Board">
        update board set TITLE = #{TITLE}, CONTENT_HTML = #{CONTENT_HTML},
                         CONTENT_MARK = #{CONTENT_MARK}, TAG=#{TAG}, STATE = #{STATE} where BOARD_ID = #{BOARD_ID}
    </update>

    <delete id="boardDelete" parameterType="Int">
        delete from board where BOARD_ID = #{boardID}
    </delete>
</mapper>