<!DOCTYPE html>
<html lang="utf-8" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sidebarFragment(email)">
<head>
    <meta charset="UTF-8">
    <title>Community</title>
</head>
<body>
<ul>
    <li><a href="/" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
    <li th:if = "${email} ==null"><a href="/user/login" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Login</span></a></li>
<!--    <li th:if = "${email} !=null"><a href="/user/mypage" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>-->
<!--    <li th:if = "${email} ==null"><a href="#info" class="nav-link scrollto"><i class="bx bx-info-circle"></i> <span>Info</span></a></li> &lt;!&ndash; 사용 설명 첨부 할 예정 영상으로... &ndash;&gt;-->
    <li th:if = "${email} !=null"><a href="/board/view/true" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Blog</span></a></li>
    <li th:if = "${email} !=null"><a href="/board/view/false" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Forest Saved Blog</span></a></li>
<!--    <li th:if = "${email} !=null"><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>-->
    <li th:if = "${email} !=null"><a href="/board/write" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Write a blog</span></a></li>
<!--    <li th:if = "${email} !=null"><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>-->
    <li th:if = "${email} !=null"><a href="/user/logout" class="nav-link scrollto"><i class="bx bx-log-out"></i> <span>Logout</span></a></li>
</ul>
</body>
</th:block>
</html>